body { 
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #0b0f1a;
    color: #f4f4f4;
}

nav {
    text-align: center;
    margin-top: 40px;
}

nav a { 
    font-size: 14px;
    color: #c6a85b;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    letter-spacing: 2px;
}

nav a:hover {
    text-decoration: underline;
    color: #9aa0a6;
}

h1 {
    font-family: 'Cormorant Garamond', serif; 
    font-size: 64px;
    color: #c6a85b;
    text-align: center;
    text-transform: uppercase;

}